.todo-list {
  border: 3px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  text-align: left; }
  .todo-list li {
    position: relative;
    line-height: 100%;
    padding: 10px 0;
    border-bottom: #ccc 2px dashed; }
    .todo-list li:hover {
      background-color: #eee; }
    .todo-list li .single-todo-action {
      position: absolute;
      right: 0;
      top: 0; }
      .todo-list li .single-todo-action button {
        cursor: pointer; }
        .todo-list li .single-todo-action button.done {
          background-color: #1890ff;
          border-color: #1890ff;
          color: white; }
        .todo-list li .single-todo-action button.undo {
          background-color: transparent; }
          .todo-list li .single-todo-action button.undo:hover {
            color: #1890ff;
            border-color: #1890ff; }
        .todo-list li .single-todo-action button.del-btn {
          color: red;
          background-color: transparent; }
          .todo-list li .single-todo-action button.del-btn:hover {
            color: white;
            background-color: red;
            border-color: red; }
  .todo-list label:hover {
    cursor: pointer; }
  .todo-list label:last-child li {
    border: none; }
