.todo-action {
  ul {
    li {
      display: inline-block;
      padding: 5px 10px;
      margin: 5px 10px;
      border-radius: 3px;
      border: 2px #ccc solid;
    }
  }
  input {
    &:hover,
    &:focus {
      border-color: #000;
    }
  }
}
